$color-white:#fff;
$color-black:#000;

$color-primary:rgb(83, 80, 80);
$color-primary-dark:rgb(58, 55, 55);

$color-secondary:rgb(148, 135, 135);
$color-secondary-dark:rgb(109, 82, 82);

$color-tertiary:rgb(190, 179, 179);
$color-tertiary-dark:rgb(160, 149, 149);

$color-orange:orange;
$color-orange-dark:orangered;
$color-blue:rgb(143, 177, 228);
$color-blue-dark:rgb(110, 151, 211);